{% load i18n %}
<!DOCTYPE HTML>
<html>
    <head>
        <title>{% block title %}{% trans "Parcels" %}{% endblock %}</title>
    </head>
    <body>
        <header></header>
        {% block content %}{% endblock %}
        <footer>
            &copy; 2016-2017<br>
            {% trans "Developed by" %} <a href="https://gbezyuk.github.io">{% trans "Grigoriy Beziuk" %}</a><br/>
            {% trans "Powered by" %} <a href="https://djangoproject.com">Django</a>
        </footer>
    </body>
</html>