{% extends 'layout.html' %}
{% load i18n %}

{% block title %}{% trans "Upload New Cadastral Block" %} - {{ block.super }}{% endblock %}

{% block breadcrumbs %}
    <a href="{% url 'cadastral_block_list' %}">{% trans "Cadastral Blocks" %}</a>
{% endblock %}

{% block content %}
    <h1>{% trans "Upload New Cadastral Block" %}</h1>

    <form action="" method="POST" enctype="multipart/form-data">
        {{ form }}
        <button type="submit">{% trans "Upload" %}</button>
    </form>
{% endblock %}